@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* RESET */
*,
*::after,
*::before {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

img {
 display: block;
 max-width: 100%;
 height: auto;
 mix-blend-mode: multiply;
}

input,
button,
textarea {
 font: inherit;
}

button {
 cursor: pointer;
}

li {
 list-style: none;
}

/* VARIABLES */

:root {
 /*FONTS*/
 --FF: "Nunito", sans-serif;
 --FS: clamp(1rem, 2.2vh, 1.5rem);
 --FS-NAV: clamp(1.75rem, 4vh, 2.5rem);
 --FS-TITLE: clamp(1.5rem, 5vh, 2rem);
 --MOBILE-FS-XL: clamp(4rem, 6vh, 5rem);
 --FS-XL: clamp(5rem, 8vh, 6rem);

 /*COLORS*/
 --BGCOLOR-FADE: rgb(252, 220, 160);
 --bg-color: #cce2cb;
 --bg-color-dark: #72ac8c;
 --bg-color-light: #b7cfb7;
 --bg-color-bright: #d5e0d4;
 --BGIMAGE: linear-gradient(to bottom, var(--bg-color), var(--BGCOLOR-FADE));
 --contrast-bg-color: #000;
 --text-color: #000;

 --HIGHLIGHT-COLOR: rgb(51, 178, 51);
 --LINK-ACTIVE: orange;
 --LINK-HOVER: #f5f5f5;

 /*BORDERS*/
 --BORDERS: 1px solid var(--contrast-bg-color);
 --BORDER-RADIUS: 15px;

 /* STANDARD PADDING */
 --PADDING-TB: 0.25em;
 --PADDING-SIDE: 2.5%;

 /* STANDARD MARGIN */
 --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;

 /* GAP */
 --GAP: clamp(1rem, 5vw, 2rem);
}

/* UTILITY CLASSES */
.offscreen {
 position: absolute;
 left: -100000px;
}

.display_none {
 display: none;
}
.nowrap {
 white-space: nowrap;
}

.center {
 text-align: center;
}

html {
 scroll-behavior: smooth;
 font-family: var(--FF);
 font-size: var(--FS);
 background-color: var(--bg-color);
}

.header {
 position: static;
 top: 0;
 z-index: 1;
 border-bottom: var(--BORDERS);
}

.header__img {
 display: none;
}

.header__nav {
 background-color: var(--bg-color);
 font-weight: bold;
}

.header__ul {
 font-size: var(--FS-NAV);
 padding: var(--PADDING-TB) var(--PADDING-SIDE);
 list-style-type: none;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 gap: var(--GAP);
}

.header-title-line {
 display: none;
}

.dropdown-arrow::after {
 font-family: FontAwesome;
 font-size: 1.5rem;
 content: "\f107";
 padding-left: 8px;
}

/* Dropdown button styling */
.dropdown-button, .header__li a {
 background-color: var(--bg-color);
 text-decoration: none;
 color: var(--text-color);
 border: none;
 font-size: var(--FS-NAV);
 cursor: pointer;
}

.dropdown-button:hover, .header__li a:hover {
 background-color: var(--bg-color-light);
}

.dropdown-content {
 display: none;
 font-size: var(--FS);
 position: absolute;
 background-color: var(--bg-color);
 min-width: 135px;
 box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
 z-index: 1;
}

.dropdown-content.visible {
 display: block;
}

.dropdown-content ul {
 list-style: none;
 padding: 0;
}

.dropdown-content ul li {
 padding: 4px 2px;
 text-align: left;
}

.dropdown-content ul li:hover {
 background-color: var(--bg-color-light);
}

.dropdown-content ul li a {
 text-decoration: none;
 color: var(--text-color);
 display: block;
 padding: 4px 8px;
}

.dropdown-content ul li a:hover {
 background-color: var(--bg-color-light);
}

.container {
 position: relative;
 display: inline-block;
}

.container img {
  mix-blend-mode: normal;
 display: block;
 opacity: 0.7;
}

#mobile.mobile-img {
 display: none;
}

.centered-text {
 position: absolute;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 color: var(--text-color);
 font-size: var(--FS-XL);
 font-weight: bolder;
 text-align: center;
}

.program.dropdown {
 position: relative;
 border: var(--BORDERS);
 text-align: left;
}


.program-item {
 position: relative;
 width: 100%;
 padding: 0.5rem;
 overflow: hidden;
}

.program-item .program_img {
 margin-right: 1rem;
}

.event .program-item .program_img {
 float: left;
 margin-right: 1rem;
}
#img.program_img {
 display: inline-block;
 vertical-align: middle;
}

.program-item .program-title {
 display: inline-block;
 width: calc(100% - 225px);
 text-align: center;
 font-size: var(--FS);
 margin: 0;
 line-height: 75px;
}

.event .program-item .program-title {
 width: calc(100% - 250px);
 line-height: 115px;
}

#title.program-title {
 display: inline-block;
 vertical-align: middle;
 text-align: center;
 white-space: normal;
}

#btn.favorite-btn {
 display: inline-block;
 vertical-align: middle;
 text-align: right;
}

.program-item .favorite-btn {
 background: none;
 border: none;
 cursor: pointer;
 margin-left: 1rem;
}

.program.dropdown-content {
 position: relative;
 width: 100%;
 background-color: var(--bg-color-bright);
 padding: 1rem;
 margin-top: 0.5rem;
 display: none;
 box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.program.dropdown {
 position: relative;
}

.program-item {
 width: 100%;
}

.program-item .program_img {
 margin-right: 1rem;
}

.program-item .program-title {
 text-align: left;
}

.program-item .favorite-btn {
 margin-left: 1rem;
}

.program.dropdown-content {
 position: relative;
 display: none;
 width: 100%;
 background-color: var(--bg-color);
 margin-top: 0.5rem;
 padding: 1rem;
 box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.program.dropdown-content.visible {
 display: block;
}

.program.dropdown-content ul {
 margin: 0;
 padding: 0;
 list-style-type: none;
}

.program.dropdown-content ul li {
 padding: 0.5rem 0;
}

.program.dropdown-content ul li a {
 text-decoration: none;
 color: #333;
 display: block;
}

.program.dropdown-content ul li a:hover {
 background-color: var(--bg-color-light);
}

#img.program_img {
 align-items: left;
}

.program-item {
 position: relative;
 align-items: center;
 width: 100%;
 padding: 0.5rem;
}

.program-item .program-title {
 text-align: center;
 font-size: var(--FS-TITLE);
 margin: 0;
}

.center.title {
 font-size: 4rem;
 padding: 2rem;
 border-bottom: var(--BORDERS);
}

#page-title {
  font-size: 2rem;
  padding-bottom: 0.75rem;
}

#language-label {
  padding-top: 2rem;
}

.sub-title {
 padding: 0.6rem;
 font-size: clamp(1.5rem, 4vh, 2.25rem);
}

.gm-svpc {
 display: none !important;
}

.report-btn {
 border: none;
 display: inline-block;
 vertical-align: middle;
 background-color: var(--bg-color);
}

#search-bar {
  width: 37.5%;
  background-color: whitesmoke;
  color: black;
  opacity: 0.6;
  border-radius: 4px;
  border: var(--BORDERS);
}

@keyframes showMenu {
 0% {
 transform: scaleY(0);
 }

 80% {
 transform: scale(1.1, 1.1);
 }

 100% {
 transform: scaleY(1);
 }
}


@media screen and (max-width: 932px) {
 .header-title-line {
 display: flex;
 flex-flow: row nowrap;
 justify-content: space-between;
 padding: 2.7rem 27%;
 }

 .header__img {
 display: block;
 position: absolute;
 top: 0;
 right: 10px;
 list-style: none;
 margin: 0;
 padding: 0;
 text-align: center;
 }

 .li__img {
 display: none;
 }

 .menu-button {
 background-color: transparent;
 border: none;
 width: 60px;
 height: 60px;
 display: flex;
 justify-content: center;
 align-items: center;
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 margin: 0.5rem;
 z-index: 1000;
 }


 .menu-icon,
 .menu-icon::before,
 .menu-icon::after {
 background-color: var(--text-color);
 width: 40px;
 height: 5px;
 border-radius: 5px;
 position: absolute;
 transition: all 0.5s;
 }

 .menu-icon::before,
 .menu-icon::after {
 content: "";
 }

 .menu-icon::before {
 transform: translate(-20px, -12px);
 }

 .menu-icon::after {
 transform: translate(-20px, 12px);
 }

 header.active .menu-icon {
 background-color: transparent;
 transform: rotate(360deg);
 }

 header.active .menu-icon::before {
 transform: translateX(-20px) rotate(45deg);
 }

 header.active .menu-icon::after {
 transform: translateX(-20px) rotate(-45deg);
 }

 header.active nav {
 display: block;
 }

 nav {
 position: relative;
 background-color: var(--bg-color);
 display: none;
 animation: showMenu 0.5s ease-in-out forwards;
 width: 100%;
 }

 nav ul {
 list-style-type: none;
 padding: 0;
 margin: 0;
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: stretch;
 }

 nav li {
 border-top: 1px solid var(--contrast-bg-color);
 width: 100%;
 }

 nav a {
 display: block;
 width: 100%;
 padding: 0.5rem;
 text-align: center;
 text-decoration: none;
 color: var(--bg-color);
 }

 .header__ul {
 list-style: none;
 padding: 0;
 margin: 0;
 display: flex;
 flex-direction: column;
 align-items: stretch;
 }

 .header__li {
 align-self: center;
 padding: 1rem;
 border-top: 1px solid var(--contrast-bg-color);
 text-align: center;
 width: 100%;
 line-height: 0.8;
 }

 .program.header__li {
 border-top: none;
 }

 .dropdown {
 position: relative;
 }

 .dropdown-content {
 position: static;
 right: 0;
 top: 100%;
 display: none;
 background-color: var(--bg-color);
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 z-index: 1000;
 padding: 0.5rem;
 min-width: 100%;
 animation: showMenu 0.5s ease-in-out forwards;
 }

 .dropdown-content ul {
 margin: 0;
 padding: 0;
 list-style-type: none;
 }

 .dropdown-content ul li {
 padding: 0.5rem 0rem;
 border-top: none;
 line-height: 1;
 }

 .dropdown-content ul li a {
 text-decoration: none;
 color: var(--text-color);
 display: block;
 }

 .dropdown-content ul li a:hover {
 background-color: var(--bg-color-light);
 }

 #mobile.mobile-img {
 display: block;
 }

 #comp.comp-img {
 display: none;
 }

 .centered-text {
 font-size: var(--MOBILE-FS-XL);
 }

}
